<!doctype html>
<html lang="PT-BR">      
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <style>
        img{
            height: 50px;
            width: 50px;
        }
    </style>
    
    <title>Cadastro de Esportes</title>
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">

            <img src="../img/esporte.jpg" height="60px" class="navbar-brand rounded-circle">
                     <!-- Ai é foda kkk -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <span class="navbar-text">Cadastro de Esportes</span>

                    <a class="nav-item nav-link" href="" id="linkInicio">Início
                        <span class="sr-only">(current)</span></a>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" 
                        id="navbarDropdownMenuLink" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                          Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" id="linkListarEsportes">Esportes</a>
                            <a class="dropdown-item" href="#">Campeonatos</a> 
                        </div>
                    </li>

                    <a class="nav-item nav-link" href="#" id="linkListarCampeonatosRealizados">Campeonatos realizados</a>
                    
                      
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
        
        <div id="corpoDaPagina">

            <div id="conteudoInicial" class="text-center" style="margin-top: auto;">

                Bem vindo ao cadastro de Esportes.
            </div>
            <br>
            

            <div class="modal fade" id="modalIncluirModalidades" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Incluir Esporte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="campoId">ID</label>
                                    <input type="text" class="form-control" id="campoId"
                                        aria-describedby="IdHelp" placeholder="Id">
                                    <small id="IdHelp" class="form-text text-muted">Informe um ID.</small>
                                </div>
                                <div class="form-group">
                                    <label for="campoNome">Nome</label>
                                    <input type="text" class="form-control" id="campoNome"
                                        aria-describedby="NomeHelp" placeholder="Nome">
                                    <small id="NomeHelp" class="form-text text-muted">Informe o nome do Esporte.</small>
                                </div>
                                <div class="form-group">
                                    <label for="campoModalidade">Modalidade</label>
                                    <input type="text" class="form-control" id="campoModalidade"
                                        aria-describedby="ModalidadeHelp" placeholder="Modalidade">
                                    <small id="modalidadeHelp" class="form-text text-muted">Informe sua Modalidade.</small>
                                </div>
                                <div class="form-group">
                                    <label for="campoPais_favorito">País_Favorito</label>
                                    <input type="text" class="form-control" id="campoPais_favorito"
                                        aria-describedby="Pais_favoritoHelp" placeholder="Pais_favorito">
                                    <small id="Pais_favoritoHelp" class="form-text text-muted">Informe seu Pais_favorito.</small>
                                </div>
                                <div class="form-group">
                                    <label for="campoAtleta">Atleta</label>
                                    <input type="text" class="form-control" id="campoAtleta"
                                        aria-describedby="AtletaHelp" placeholder="Atleta">
                                    <small id="AtletaHelp" class="form-text text-muted">Informe seu Atleta.</small>
                                </div>
                                <div class="form-group">
                                    <label for="campoNivel_de_dificuldade">Nivel_de_dificuldade</label>
                                    <input type="text" class="form-control" id="campoNivel_de_dificuldade"
                                        aria-describedby="Nivel_de_dificuldadeHelp" placeholder="Nivel_de_dificuldade">
                                    <small id="Nivel_de_dificuldadeHelp" class="form-text text-muted">Informe o Nivel_de_dificuldade.</small>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button id="btIncluirModalidade" type="button" class="btn btn-primary">Incluir</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="cadastroEsportes">
      
                <h5>Cadastro de Esportes</h5>

                <a class="nav-item nav-link" data-toggle="modal" 
                data-target="#modalIncluirModalidades" href="#"><img src="../img/incluir.png" title="Incluir Esporte"></a>



             <table class="table invisible table-striped table-hover" id="tabelaEsportes">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Modalidade</th>
                        <th scope="col">Pais_favorito</th>
                        <th scope="col">Atleta</th>
                        <th scope="col">Nivel_de_dificuldade</th>
                        <th scope="col">Operações</th>

                    </tr>
                </thead>
                <tbody id="corpoTabelaEsportes">
                   
                </tbody>
            </table>

        </div> 
    </div>
    
        <div class="container" id="cadastroCampeonatosRealizados">
            <h5>Campeonatos Realizados</h5>
    
            <a class="nav-item nav-link" data-toggle="modal" 
            data-target="#modalIncluirCampeonatoRealizado" href="#">
              <img src="../img/incluir.png" title="Incluir Esporte"></a>

            <table class="table table-striped table-hover" id="tabelaCampeonatosRealizados">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Ganhador</th>
                        <!-- campos do esporte -->
                        <th scope="col">Nome</th>
                        <th scope="col">Modalidade</th>
                        <th scope="col">Pais_favorito</th>
                        <th scope="col">Atleta</th>
                        <th scope="col">nivel_de_dificuldade</th>
                    </tr>
                </thead>
                <tbody id="corpoTabelaCampeonatosRealizados">
                    <!-- aqui serão exibidos os campeonatos realizados -->
                </tbody>

                
            </table>
        </div>

    </div> <!-- fim da div corpo da página -->
</div>








    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
     <!-- código específico do front-end -->
     <script src="../js/meuscript.js"></script>
     
</body>

</html>